body{
margin:0px;
border:0px;
padding-top: 70px;
background-color: green;

}
#navbar{
    width: 100%;
    height: 50px;
    background-color: green;
    color: white;
    Position: fixed;
    Top: 0px;
    text-align: center;
    font-size: x-large;
    
    
}
#navbar1{
width: 100%;
height: 50px;
background-color: green;
color: white;
Position: fixed;
Top: 0px;
text-align: center;
font-size: x-large;


}
#linkref{
color:white;
text-decoration: none;
padding: 15px;
margin: 10px;
}
h1{
text-align:center;
margin-top: 0%;
}
img{
height: 225px;
margin-top: -80px;

}
#logga{
margin-left: 20px;
height:200px
}

#logga2{
margin-left: 20px;
height: 200px;
}

#logga3{
margin-left: 20px;
height:200px
}


.slideshow-container {
  max-width: 650px;
  position: relative;
  margin-top: 90px;
  margin-left: 300px;
  height: 150px;

}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: red;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



.column {
  float: left;
  width: 50%;
  padding: 5px;
  margin-top: 175px;
  margin-left: 300px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
.bilder2 {
  float: left;
  width: 50%;
  padding: 5px;
  margin-top: 75px;
  margin-left: 400px;
}
ul,li { 
  list-style-position: outside;
   background: lightgreen;


}
.bilder3{
  float: left;
  width: 50%;
  padding: 5px;
  margin-top: 75px;
  margin-left: 400px;
  
}
.adress{
margin-top: -60px;
margin-left: 867px;
}

p{

  margin-left: 325px;
}

h3{
margin-left: 50px;
margin-top: 50px;
}


